.menu, .hero, .body, .sidebar-container, .footer {
	background-color: lightblue;
}
.ad {
	background-color: blue;
}






.brand, .global-now, .tools {
	margin: 30px;
	background-color: white;
	height: 50px;
	border-radius: 5px;
	text-align: center;
}
.menu span {
	line-height: 50px;

}
.content, .body, .sidebar-container {
	margin-top: 20px;
}



.hero-feature, .hero-call-to-action {
	margin: 30px;
	background-color: white;
	height: 100px;
	border-radius: 5px;
	text-align: center;
} 
.content span {
	line-height: 100px;
}
.article-feature, .article-listing {
	margin: 30px;
	background-color: white;
	height: 250px;
	border-radius: 5px;
	text-align: center;
}
.body span {
	line-height: 250px;
}
.ad-wrap {
	height: 160px;
	text-align: center;
	
}
.ad span {
	line-height: 160px;
}
.sidebar {
	text-align: center;
	height: 250px;
	margin: 30px;
	background-color: white;
	border-radius: 5px;

}
.sidebar-container {
	margin-left: 15px;
}
.sidebar span {

	line-height: 250px;
}
.footer {
	height: 50px;
	margin-top: 20px;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.brand, .global-now{
		margin-left: 0px;
		margin-right: 0px;
	}
	.ad-wrap{
		margin: 30px;
	}
	.article-feature{
		height: 160px;
	}
	.article-feature span{
		line-height: 160px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.tools {
		margin-right: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.hero-feature {
		display: none;
	}

}